{% extends "base.jinja" %}
{% from '_macros.jinja' import render_pagination with context %}

{% block content %}
<div class="container py-4">
  <div class="card w-75 mx-auto">
    <div class="card-header">Search</div>
    <div class="card-body">
      <form class="form" role="form" action="{{ url_for('main.index') }}" method="post">
        <div class="mb-3 row">
          {{form.url.label(class_='col-md-4 col-form-label text-md-right')}}
          <div class="col-md-6">
            {{form.url(class_='form-control')}}
            {% for error in form.errors.url %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
          </div>
        </div>
        <div class="mb-3 row">
          {{form.word.label(class_='col-md-4 col-form-label text-md-right')}}
          <div class="col-md-6">
            {{form.word(class_='form-control')}}
            {% for error in form.errors.word %}
            <small class="text-danger">{{error}}</small>
            {% endfor %}
          </div>
        </div>
        <div class="mb-3 form-check">
            {{form.partial(class_='form-check-input')}}
            {{form.partial.label(class_='form-check-label')}}
        </div>
        <div class="mb-3 row">
          <div class="col-md-6 offset-md-4">
            {{form.submit(class_='btn btn-primary')}}
          </div>
        </div>
      </form>
    </div>
  </div>

{% if rows.total > 0 %}
  <table class="table table-striped table-hover">
    <thead>
        <tr>
        <th scope="col">URL</th>
        <th scope="col">Word</th>
        <th scope="col">Created</th>
        <th scope="col">Time to load</th>
        <th scope="col">Hits</th>
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr id="row-{{ row.id }}">
        <td>{{ row.url }}</td>
        <td>{{ row.word }}</td>
        <td>{{ row.created_at }}</td>
        <td>{{ row.time_to_load }}s</td>
        <td>{{ row.hits }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{{ render_pagination(rows, 'main.index') }}
{% endif %}
</div>
{% endblock %}

